@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@inject Microsoft.AspNetCore.Identity.UserManager<IdentitySystem.Models.AppUser> userManager
@{
    ViewData["Title"] = "List of Roles";
}

<h1>List Of Roles</h1>

<a class="btn btn-primary mb-3" asp-action="CreateRole" asp-controller="Administration">Create Role</a>

@if (Model.Any())
{
    foreach (var role in Model)
    {
        <div class="card mb-4">
            <div class="card-header">
                Role Name
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer text-muted">
                <a asp-controller="Administration"
                   asp-action="EditRole"
                   asp-route-id="@role.Id"
                   class="btn btn-primary">Edit</a>
                @{
                    var usersInRole = await userManager.GetUsersInRoleAsync(role.Name);
                }

                @if (usersInRole.Count == 0)
                {
                    <a asp-controller="Administration"
                       asp-action="RemoveRole"
                       asp-route-id="@role.Id"
                       class="btn btn-danger">
                        Delete
                    </a>
                }


            </div>
        </div>
    }
}
else
{
    <h1>No Roles Found</h1>
}

